<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{% block title %}postmarketOS{% endblock %}</title>

        <meta name="description" content="Aiming for a 10 year life-cycle for smartphones">
        <meta name="keywords" content="postmarketOS">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all">

        <link rel="canonical" href="https://postmarketos.org{{ request.path }}">
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/dark.css">
        <link rel="stylesheet" href="/static/css/codehilite.css">
        <link rel="alternate" type="application/atom+xml" title="postmarketOS Blog" href="{{ url_for('atom') }}">
        {% block extra_link %}{% endblock %}
        <meta name="theme-color" content="#009900">
        <meta property="og:site_name" content="postmarketOS">
        {% if preview %}
        <meta property="og:image" content="https://postmarketos.org/static/img/{{ preview }}">
        {% endif %}
    </head>
    <body>
        <header class="header">
            <a class="logo" name="^" href="/">
                <img src="/logo.svg" alt="">
                <span>postmarketOS</span>
            </a>
            <div class="nav">
                <div class="nav-row1">
                    <a href="/blog/">blog</a>
                    <a href="/faq/">faq</a>
                    <a href="https://wiki.postmarketos.org">wiki</a>
                    <a href="/source-code/">src</a>
                    <a href="/merch/">merch</a>
                </div>
                <div class="nav-row2">
                    <a href="/download/" id="nav-download">download</a>
                    <a href="https://cast.postmarketos.org">podcast</a>
                </div>
                <div class="nav-row3">
                    <a href="/chats-and-social-media/">@postmarketOS</a>
                </div>
                <div class="nav-row4">
                    <a href="/donate/">donate</a>
                    <a href="/edge/">edge</a>
                </div>
            </div>
            <div class="slogan">
                A real Linux<br>
                distribution<br>
                for phones<br>
                <small>and other mobile devices</small>
            </div>
            <div class="slogan-smallwidth">
                A real Linux distribution for phones<br>
                <small>and other mobile devices</small>
            </div>
            <div class="disclaimer">
                <span class="disclaimer-text">
                    For <span class="green">Linux</span> enthusiasts
                </span>
            </div>
	    <div class="latest-news">
                <span class="latest-news-text">
                	Latest news: <a href="{{ latest_news_link }} ">
	                    {{ latest_news_title }}
        	        </a>
		</span>
            </div>
        </header>
        <main class="main">
            {% block body %}
            {% endblock %}
        </main>
        <footer class="footer">
            <a href="https://wiki.postmarketos.org/wiki/Contributing" class="icon-button contribute">
                <img src="/static/img/icons-numix/emote-love-symbolic.svg" alt="">
                <span>Contribute</span>
            </a>
            <div class="nav-bottom">
                <!-- scroll to top: the JS version is slightly nicer, as it does not change the URL.
                                    but the non-JS version works as well. -->
                <a href="#^" onclick="window.scrollTo(0,0); return false" class="icon-button">
                    <img src="/static/img/icons-numix/go-top-symbolic.svg" alt="">
                    <span>Back to Top</span>
                </a>
                <a href="/blog/feed.atom" class="icon-button">
                    <img src="/static/img/icons-numix/application-rss+xml-symbolic.svg" alt="">
                    <span>Feed</span>
                </a>
                <a href="/privacy-policy" class="icon-button">
                    <img src="/static/img/icons-numix/changes-secure-symbolic.svg" alt="">
                    <span>Privacy Policy</span>
                </a>
                <a href="/coc" class="icon-button">
                    <img src="/static/img/icons-numix/system-users-symbolic.svg" alt="">
                    <span>Code of Conduct</span>
                </a>
            </div>
            <div class="copyright">
                &copy; 2022 postmarketOS.org contributors
            </div>
        </footer>
    </body>
</html>
